*{
    margin: 0;
    padding: 0;
}

.home-main-container{
    /* background-image: url(https://us.123rf.com/450wm/nalinn/nalinn1504/nalinn150401335/38908450-impresiones-de-la-pata-de-animal-de-fondo-sin-fisuras-con-la-pata-imprime-negro-y-cenizas.jpg?ver=6); */
    /* background-image: url(https://thumbs.dreamstime.com/b/modelo-incons%C3%BAtil-de-las-huellas-verdes-del-perro-96804341.jpg); */
    /* background-image: url(https://p4.wallpaperbetter.com/wallpaper/546/142/546/background-bright-close-up-environment-wallpaper-preview.jpg); */
    /* background-image: url(https://previews.123rf.com/images/poznyakov/poznyakov0910/poznyakov091000379/5722067-grupo-fondo-hoja-de-oto%C3%B1o-de-color-naranja-al-aire-libre-.jpg); */
    /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2J6wE7xsdWMVrGGLqC0mb70QrRCTfFUch9A&usqp=CAU); */
    background-image: url(https://st3.depositphotos.com/29178032/i/600/depositphotos_317284121-stock-photo-natural-beige-marble-texture-skin.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    font-family: fantasy; 
    overflow-y: scroll;    

}
    
    
.nav{
    display: flex;
    
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    color: rgb(232, 243, 130);
    background: transparent;
    width: 100%;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: fantasy;
    font-size: 12px;
    
} 

.secondary-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:space-around;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    border: solid;
    border-color: #d0af89; 
    background-color:transparent;
    
    
}

.select-style{
    width: 100%;
    padding: 7px;
    margin: 2px 0;
    border-bottom: 5px solid rgb(63, 63, 61);
    color: rgb(46, 45, 44);
    
}

.filter{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    
    padding: 8px;
}

.allbreeds{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-left: 40px;
    padding: 8px;
}

.temp{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-left: 40px;
    padding: 8px;
}

.order{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    
    padding: 8px;
}

.aZ{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-right: 50px;
    padding: 8px;
}

.minMax{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    
    padding: 8px;
}

.paginado{
    display: flex;
    flex: 1 30px;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    color: rgb(148, 148, 145);
    background:transparent;
    width: 100%;
    margin-top: 0;
}

.content-cards{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
    color: rgb(148, 148, 145);
    background: transparent;
    width: 100%;
    margin-top: 0;
    margin-bottom: 5px;
    
    
}

.titles{
    text-align: center;
    justify-content: center;
    color: #f79e94;
    background:transparent;
    font-family: fantasy;
    font-size: 35px;
    letter-spacing: 0;
    text-shadow: -4px -4px 4px rgb(66, 66, 63), 4px -4px 4px rgb(66, 66, 63), -4px 4px 4px rgb(66, 66, 63), 4px 4px 4px rgb(66, 66, 63);
    margin-bottom: 18px;   
    margin-top: 10px; 
}
h1{
    font-size: 50px;
    
}

.nav-btn2{
    background-color: #f79e94; 
    border-radius: 8px;
    color: rgb(51, 51, 49);
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: fantasy;
    font-size: 16px;
}
.nav-btn2:hover{
    box-shadow: 0 12px 16px 0 rgb(51, 51, 49), 0 17px 50px 0 rgb(51, 51, 49);
}

.link{
    text-decoration: none;
}

.content-pagination {
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin-top: 2%;
    margin-bottom: 0%;
}

.pagination-label {
    margin-right: 10px; 
}



    
